* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;


   
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    
      
          
    .hubballi-regular {
        font-family: "Hubballi", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      .handlee-regular {
        font-family: "Handlee", cursive;
        font-weight: 400;
        font-style: normal;
      }

      .cookie-regular {
        font-family: "Cookie", cursive;
        font-weight: 400;
        font-style: normal;
      }
      
      

  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

            
      
  }
      
       
          
          
          
   

     
      
            
    


@media screen and (min-width:769px){
/* menu */

.nav-link {
    color: black;
    font-size: 25px;
    font-weight: 500;
}

/* al pasar el cursor */
.navbar-nav .nav-link:hover{
    color:crimson;
}
/* Logo */

.navbar-brand img {
    width: 80px;
    height: 80px;
}

/* Imagen general */
.presentacion img{
    width: 100%;
    height: auto;
}

/* texto que va dentro de la imagen */
.presentacion h1{
   position:absolute ;
   top: 200px;
   margin-left: 300px;;
   font-size: 130px;
   color:white;
   font-weight: 800;

}

/* titulo detras de  */
.tit-pres h3{
    font-size: 30px;
    margin-top: 30px;
    padding: 30px;
    color: white;
    background-color: black;
    text-align: center;
}

/* box de mi presentacion */
.present-foto{
    display:flex;
    margin: auto;
    width: 60%;
    
}



.present-foto img{
    width: 300px;
    height: auto;
    border: solid 3px black;
    margin-top: 30px;
}

.pres-texto{
    display: inline;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-top:20px;
}


/* pie de página */
footer {
      width: 100%;
      height: 150px;
      background-image:url(./img/presentacion-pie.jpg);

      margin-top: 120px;
}

/* texto footer */

footer h2{
    font-size: 50px;
    font-weight:1000;
    color: black;
    text-align: center;
    padding-top: 40px;
    margin-left: 100px;
}

/* logos de redes y correo */

.logos img{
    display: block;
    height: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 1200px;
}

/* what */

.what{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.what img{
    width: 100px;
    height: auto;
}

/* Diseño Web */

/* Titulo */

/* titulo general del proceso */
.titulo-general{
    font-size: 35px;
     text-align: center;
     display: inline-block;
     color:crimson;
     margin-left: 500px;
     padding: 10px;
}



.tit-proceso{
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(255, 203, 186);
}



/* contenedor de los procesos */

.desarrollo1{
    width: 600px;
    height: auto;
    padding: 10px;
    margin-left: 30px;
}
.desarrollo1 img{
    width: 100px;
    height: 100px;
    
}

.desarrollo1 h3{
    font-size: 23px;
    color:crimson;
   
    text-align: center;
}

.desarrollo1 p{
    font-size: 20px;
    color: black;
    margin-left: 50px;}


.desarrollo2{
    width: 600px;
    height: auto;
    padding: 10px;
    margin-left: 600px;
}

.desarrollo2 img{
    width: 100px;
    height: 100px;
    
}

.desarrollo2 h3{
    font-size: 23px;
    color:crimson;
   
    text-align: center;
}

.desarrollo2 p{
    font-size: 20px;
    color: black;
    margin-left: 50px;}

/* titulo de los proyectos */
.titulo-proyectos{
    font-size: 35px;
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: 400;
    margin-top: 50px;
}

/* contenedor de las img-proy */                                 

.con-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    padding: 20px;
    padding-bottom: 40px;
    background-color:  rgb(250, 225, 216) ;
    margin-bottom: 20px;
}
/* img de los proyectos */
.con-proyectos img{
    width: 300px;
    height: 160px;
    border:solid 1px black;
}

/* tit- proyectos */
.con-proyectos h3{
    font-size: 20px;
    Color: black;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}





/* cookies */
.aviso-cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    height: auto;
    background-color: #f4f4f4;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    z-index: 1000;
    display: none; /* Oculto inicialmente */
    margin-left: 450px;;
}

.aviso-cookies .galleta {
    width: 80px;
}

.aviso-cookies .titulo {
    margin: 10px 0;
    color: #333;
}

.aviso-cookies .parrafo {
    color: #000;
    font-size: 20px;
}

.aviso-cookies .boton {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.aviso-cookies .boton:hover {
    background-color:darkgray;
}

.aviso-cookies .enlace {
    display: block;
    margin-top: 10px;
    color:crimson;
    text-decoration: none;
}

.aviso-cookies .enlace2{
    text-decoration: none;
    color:crimson;
}

.aviso-cookies .enlace:hover {
    text-decoration: underline;
}

/* politica de privacidad */

.tit-politica{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #000;
}

.texto-politica{
    font-size: 20px;
    margin: 10px;
    color:#000;
}

/* texto de cookies */

/* enlace para regresar a index */

.regresar{
    font-size: 20px;
    color: white;
    border-radius: 40px;
    background-color: #000;
    padding: 10px;
    margin-top: 30px;
}

.tit-cookies{
    font-size: 30px;
    color: #000;
    text-align: center;
}

.tit2-cookies{
    font-size: 25px;
    color:#000;}

.texto-cookies{
    font-size: 20px;
    color:#000;
}

/* correo */

.correo img{
    width: 80px;
    height: auto;
    border-radius: 40px;
}

.correo{
    position: fixed;
    bottom: 120px;
    left: 30px;
    z-index: 1000;
}


}

/* mobile */
@media screen and (max-width: 480px) {
    

/* menu */
.nav-link{
    color: black;
    font-size: 20px;
}

/* al pasar el cursor */
.navbar-nav .nav-link:hover{
    color:crimson;
}

/* Logo */

.navbar-brand img {
    width: 50px;
    height: 50px;
}

/* texto que va dentro de la imagen */
.presentacion h1{
   position:absolute ;
   top: 100px;
   margin-left: 100px;;
   font-size: 50px;
   color:white;
   font-weight: 800;

}
/* titulo detras de  */
.tit-pres h3{
    font-size: 30px;
    margin-top: 30px;
    padding: 30px;
    color: white;
    background-color: black;
    text-align: center;
}

/* box de mi presentacion */
.present-foto{
    display:flex;
    margin-left: 5px;
   
    
}

.h3-none {
    display: none;
}

.ul-none{
    display: none;
}

.present-foto img{
    width: 200px;
    height: auto;
    border: solid 3px black;
    
}

.pres-texto{
    display: inline;
    font-size: 15px;
   
    margin-left: 10px;
  
}


/* pie de página */
footer {
      width: 100%;
      height: 100px;
      background-image:url(./img/presentacion-pie.jpg);

      margin-top: 120px;
}

/* texto footer */

footer h2{
    font-size: 25px;
    font-weight:1000;
    color: black;
    text-align: center;
    padding-top: 40px;
    margin-left: 40px;
}
/* what */

.what{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.what img{
    width: 60px;
    height: auto;
}

/* correo */

.correo img{
    width: 40px;
    height: auto;
    border-radius: 40px;
}

.correo{
    position: fixed;
    bottom: 100px;
    left: 30px;
    z-index: 1000;
}



/* cookies */
.aviso-cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    height: auto;
    background-color: #f4f4f4;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    z-index: 1000;
    display: none; /* Oculto inicialmente */
    margin-left: 90px;
    
}

.aviso-cookies .galleta {
    width: 50px;
}

.aviso-cookies .titulo {
    margin: 10px 0;
    color: #333;
}

.aviso-cookies .parrafo {
    color: #000;
    font-size: 13px;
}

.aviso-cookies .boton {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.aviso-cookies .boton:hover {
    background-color:darkgray;
}

.aviso-cookies .enlace {
    display: block;
    margin-top: 10px;
    color:crimson;
    text-decoration: none;
}

.aviso-cookies .enlace2{
    text-decoration: none;
    color:crimson;
}

.aviso-cookies .enlace:hover {
    text-decoration: underline;
}

/* politica de privacidad */

.tit-politica{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #000;
}

.texto-politica{
    font-size: 15px;
    margin: 10px;
    color:#000;
}

/* texto de cookies */

/* enlace para regresar a index */

.regresar{
    font-size: 15px;
    color: white;
    border-radius: 40px;
    background-color: #000;
    padding: 10px;
    margin-top: 30px;
}

.tit-cookies{
    font-size: 20px;
    color: #000;
    text-align: center;
}

.tit2-cookies{
    font-size: 15px;
    color:#000;}

.texto-cookies{
    font-size: 20px;
    color:#000;
}

/* Diseño Web */

/* Titulo */

/* titulo general del proceso */
.titulo-general{
    font-size: 25px;
     text-align: center;
     display: inline-block;
    color:crimson;
     margin-left: 100px;
     padding: 10px;
}



.tit-proceso{
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(255, 203, 186);
}

/* contenedor de los procesos */

.desarrollo1{
    width: 350px;
    height: auto;
    padding: 10px;
    margin-left: 30px;
}
.desarrollo1 img{
    width: 50px;
    height: 50px;
    
}

.desarrollo1 h3{
    font-size: 18px;
    color:crimson;
   
    text-align: center;
}

.desarrollo1 p{
    font-size: 15px;
    color: black;
    margin-left: 50px;}


.desarrollo2{
    width: 350px;
    height: auto;
    padding: 10px;
    margin-left: 30px;
}

.desarrollo2 img{
    width: 50px;
    height: 50px;
    
}

.desarrollo2 h3{
    font-size: 18px;
    color:crimson;
   
    text-align: center;
}

.desarrollo2 p{
    font-size: 15px;
    color: black;
    margin-left: 50px;}



/* titulo de los proyectos */

.titulo-proyectos{
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: 400;
}

/* contenedor de las img-proy */

.con-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    padding: 20px;
    padding-bottom: 40px;
    margin-left: 10px;
    background-color:  rgb(245, 204, 189) ;
}
/* img de los proyectos */
.con-proyectos img{
    width: 200px;
    height: 100px;
    border:solid 1px black;
}

/* tit- proyectos */
.con-proyectos h3{
    font-size: 15px;
    Color: black;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    margin-right: 20px;
}



}


/* tablet */

@media (min-width:481px) and (max-width:767px) {
    /* menu */

.nav-link {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

/* al pasar el cursor */
.navbar-nav .nav-link:hover{
    color:crimson;
}
/* Logo */

.navbar-brand img {
    width: 60px;
    height: 60px;
}

/* Imagen general */
.presentacion img{
    width: 600px;
    height: auto;
}

/* texto que va dentro de la imagen */
.presentacion h1{
   position:absolute ;
   top: 90px;
   margin-left: 180px;;
   font-size: 60px;
   color:white;
   font-weight: 800;

}
/* titulo detras de  */
.tit-pres h3{
    font-size: 30px;
    margin-top: 30px;
    padding: 30px;
    color: white;
    background-color: black;
    text-align: center;
}

/* box de mi presentacion */
.present-foto{
    display:flex;
    margin: auto;
    
    
}



.present-foto img{
    width: 220px;
    height: auto;
    border: solid 3px black;
    margin-left: 5px;
}

.pres-texto{
    display: inline;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-top:20px;
}
.h3-none {
    display: none;
}

.ul-none{
    display: none;
}

/* pie de página */
footer {
      width: 100%;
      height: 80px;
      background-image:url(./img/presentacion-pie.jpg);

      margin-top: 120px;
}

/* texto footer */

footer h2{
    font-size: 25px;
    font-weight:1000;
    color: black;
    text-align: center;
    padding-top: 20px;
    margin-left: 60px;
}

/* logos de redes y correo */

.logos img{
    display: block;
    height: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 1200px;
}

/* what */

.what{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.what img{
    width: 80px;
    height: auto;
}

/* correo */

.correo img{
    width: 60px;
    height: auto;
    border-radius: 40px;
}

.correo{
    position: fixed;
    bottom: 120px;
    left: 30px;
    z-index: 1000;
}



/* cookies */
.aviso-cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    height: auto;
    background-color: #f4f4f4;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    z-index: 1000;
    display: none; /* Oculto inicialmente */
    margin-left: 80px;
}

.aviso-cookies .galleta {
    width: 50px;
}

.aviso-cookies .titulo {
    margin: 10px 0;
    color: #333;
}

.aviso-cookies .parrafo {
    color: #000;
    font-size: 15px;
}

.aviso-cookies .boton {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.aviso-cookies .boton:hover {
    background-color:darkgray;
}

.aviso-cookies .enlace {
    display: block;
    margin-top: 10px;
    color:crimson;
    text-decoration: none;
}

.aviso-cookies .enlace2{
    text-decoration: none;
    color:crimson;
}

.aviso-cookies .enlace:hover {
    text-decoration: underline;
}

/* politica de privacidad */

.tit-politica{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #000;
}

.texto-politica{
    font-size: 20px;
    margin: 10px;
    color:#000;
}

/* texto de cookies */

/* enlace para regresar a index */

.regresar{
    font-size: 20px;
    color: white;
    border-radius: 40px;
    background-color: #000;
    padding: 10px;
    margin-top: 30px;
}

.tit-cookies{
    font-size: 30px;
    color: #000;
    text-align: center;
}

.tit2-cookies{
    font-size: 25px;
    color:#000;}

.texto-cookies{
    font-size: 20px;
    color:#000;
}

/* Diseño Web */

/* Titulo */

/* titulo general del proceso */
.titulo-general{
    font-size: 25px;
     text-align: center;
     display: inline-block;
     color: crimson;
     margin-left: 160px;
     padding: 10px;
}



.tit-proceso{
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(255, 203, 186);
}

/* contenedor de los procesos */

.desarrollo1{
    width: 600px;
    height: auto;
    padding: 10px;
    margin-left: 20px;
}
.desarrollo1 img{
    width: 80px;
    height: 80px;
    
}

.desarrollo1 h3{
    font-size: 20px;
    color:crimson;
   
    text-align: center;
}

.desarrollo1 p{
    font-size: 18px;
    color: black;
    margin-left: 50px;}


.desarrollo2{
    width: 600px;
    height: auto;
    padding: 10px;
    margin-left: 20px;
}

.desarrollo2 img{
    width: 80px;
    height: 80px;
    
}

.desarrollo2 h3{
    font-size: 20px;
    color:crimson;
   
    text-align: center;
}

.desarrollo2 p{
    font-size: 18px;
    color: black;
    margin-left: 50px;}

/* titulo de los proyectos */
.titulo-proyectos{
    font-size: 35px;
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: 400;
    margin-top: 50px;
}

/* contenedor de las img-proy */                                 

.con-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    padding-bottom: 40px;
    background-color:  rgb(250, 225, 216) ;
    margin-bottom: 20px;
}
/* img de los proyectos */
.con-proyectos img{
    width: 280px;
    height: 180px;
    border:solid 1px black;
    margin-top: 10px;
}

/* tit- proyectos */
.con-proyectos h3{
    font-size: 20px;
    Color: black;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    margin-right: 50px;
}






}







